footer {
  margin-bottom: 20px;
  text-align: center;
  align-items: center;
}

.social-box {
  justify-content: center;
  align-content: center;
  display: flex;
}

.socials {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin: auto;
}

.socials a {
  width: 32px;
  height: 32px;
  font-size: 24px;
  margin: 6px;
  transition: transform 0.2s ease-in;
}

.socials a:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.footer-btn {
  text-decoration: underline;
  color: royalblue;
  cursor: pointer;
  font-weight: 500;
}
