footer {
  margin-bottom: 20px;
  text-align: center;
  align-items: center;
}

.social-box {
  justify-content: center;
  align-content: center;
  display: flex;
}

.socials {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin: auto;
}

.socials a {
  width: 32px;
  height: 32px;
  font-size: 24px;
  margin: 6px;
}

.socials a:hover {
  border-radius: 48px;
  cursor: pointer;
}
