<footer>
  <a
    class="footer-btn"
    title="Click here to go to the about page"
    *ngIf="hasRoute('/')"
    routerLink="/about"
    >About</a
  >
  <a
    class="footer-btn"
    title="Click here to go to the home page"
    *ngIf="hasRoute('/about')"
    routerLink="/"
    >Home</a
  >
  <div class="social-box">
    <div class="socials">
      <a href="https://twitter.com/imhemantchaubey" target="_blank">
        <fa-icon
          [icon]="faTwitter"
          [ngStyle]="{ color: 'royalblue' }"
        ></fa-icon>
      </a>
      <a href="https://github.com/imhemantchaubey" target="_blank">
        <fa-icon [icon]="faGithub" [ngStyle]="{ color: 'black' }"></fa-icon>
      </a>
      <a href="https://linkedin.com/in/imhemantchaubey" target="_blank">
        <fa-icon [icon]="faLinkedin" [ngStyle]="{ color: 'blue' }"></fa-icon>
      </a>
      <a href="https://instagram.com/imhemantchaubey" target="_blank">
        <fa-icon [icon]="faInstagram" [ngStyle]="{ color: 'red' }"></fa-icon>
      </a>
    </div>
  </div>
  <p>Copyright &copy; 2023</p>
</footer>
